@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.buttonContact{
    padding: 10px;
    background-color: #ff702a;
    border-radius: 50px;
}
.buttonContact:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
:root{
    --first-color: #FF702A;
    --container-color: #FFEFE8;
    --container-text-color: #2c2b47;
    --text-color: #FFF;
    --body-color: #2c2b47;
    --mobile-menu-color: #2c2b47;
    --body-font: 'Poppins', sans-serif;
    --header-height: 4rem;
    --greend: #06b68d;
}


body{
    font-family: var(--body-font);
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}


img{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
    padding-left: 2px;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

button{
    padding: 10px;
    background-color: #ff702a;
    background-position: 0%;
    width:fit-content;
    height: fit-content;
    font-family: var(--body-font);
    border: none;
    border-radius: 50px;
}


.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.text-align-center{
    text-align: center;
}

.p-1{
    padding: 0.5;
}

.p-2{
    padding: 1rem;
}

.p-4{
    padding: 2rem;
}

.center-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main{
    margin-top: var(--header-height);
}

.gap-2{
    gap: 2rem;
}

.mobile{
    display: block;
}
.desktop{
    display: none;
}

.button{
    background-color: var(--first-color);
    color: var(--text-color);
    padding: 8px 20px;
    max-width: 200px;
}


.section{
    padding-bottom: 2rem;
}


.section-title{
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--first-color);
}

.section-subtitle{
    font-size: 1rem;
    color: var(--first-color);
}

.Cabezera{
    display: flex;
    align-items: center;
    height: var(--header-height);
}


.search{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}



.search-logo{
    font-size: 2rem;
    color: var(--first-color);
}

.search-menu__mobile{
    display: flex;
    background-color: var(--mobile-menu-color);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;

}

.search-link{
    padding: 5px 10px;
}

.search-link:hover{
    border: 1px solid var(--greend);
    border-radius: 50px;
}

.toggle-container {
    position: relative;
}

.toggle-checkbox {
    font-family: var(--body-font);
    display: none;
}

.toggle-label {
    cursor: pointer;
    font-size: 2rem;
}

.close{
    display: none!important;
}

.toggle-checkbox:checked + .toggle-label .open{
    display: none;
}

.toggle-checkbox:checked + .toggle-label .close{
    display: flex!important;
    
}

.home-text{
    text-align: center;
}

.home-img{
    max-width: 350px;
}


.about-img{
    max-width: 350px;
}

.about-text{
    text-align: center;
}

.product {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-container{
    background-color: var(--container-color);
    padding: 1rem;
}

.product-header {
    position: relative;
}

.product-button {
    position: absolute;
    right: 0;
}

.product-img {
    max-width: 240px;
}

.product-title {
    font-size: 1rem;
    margin: 10px;
}

.product-body {
    color: var(--container-text-color);
    text-align: center;
}

.product-title {
    margin: 0;
}

.product-tag {
    margin: 0;
}

.product-price {
    margin: 0;
    color: var(--first-color);
}



.service-img {
    max-width: 220px;
}

.service-container {
    text-align: center;
    padding: 1rem;
}

.service-title {
    margin: 0;
    color: var(--first-color);
}

.service-description {
    padding: 0 1rem;
}


.baner{
    width: 100%;
    background-color: var(--container-color);
    color: var(--container-text-color);
    text-align: center;
    padding: 3rem 0;
}

.align-center{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.position-relative{
    position: relative;
    display: inline-flex;
}


.footer{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    padding: 5px;
    border-radius: 100%;
    margin: 0 0.5rem;
    font-size: 1rem;
}


h3.footer-section__title {
    margin: 5px 0;
}

.social-medias {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

@media (min-width: 768px) {

    .container {
      max-width: 720px;
    }

    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }

    .home-text{
        align-content: center;
        text-align: left;
    }
    
    .about-text{
        text-align: left;
    }

    .order-1{
        order: 1;
    }
    

    .col-lg-6{
        grid-template-columns: repeat(2, 1fr);
    }

    .col-lg-3{
        grid-template-columns: repeat(4, 1fr);
    }

    .col-lg-4{
        grid-template-columns: repeat(3, 1fr);
    }

    .search-menu{
        display: flex;
        position: static;
        flex-direction: row;
    }

    .search-menu__mobile{
        display: none;
    }


}
