color-5{
    background-color: #ffefe8;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #2c2b47;
    font-size: 1.5rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.boxes{
    background-color: #ffefe8;
    float: inline-start;
}
.container{
    margin-top: 20px;
    width: 100%;
    padding: 0;
}
.Title{
    color: #ff702a;
    font-weight: bold;
    font-size: 70px;
}
.subtitle{
    color: #ff702a;
}
.menus{
    color: #ffffff;
    font-size: 20px;
    display: flex;
    float: left;
    flex-direction:column;
    margin-right: 1em;
}
.menus:hover{
    filter: opacity(0.9);
    border-color:aquamarine;
}
.subtexto{
    color: #ffffff;
}
.texto{
    color: #000;
    background-color: #ffefe8;
}
.button{
    padding: 10px;
    background-color: #ff702a;
    background-position: 0%;
    width:fit-content;
    height: fit-content;
}
.button:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.menuContact {
    color: #ffffff;
}
.buttonContact{
    padding: 10px;
    background-color: #ff702a;
    border-radius: 50px;
}
.buttonContact:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.imgFondContact{
    background-color: #ffefe8;
}